.profile {
  margin: 40px auto;
  width: 880px;
  display: flex;
  align-items: center;
}

.profile__avatar {
  width: 168.75px;
  height: 127.5px;
}

.profile__avatar_image {
  border-radius: 50%;
}

.profile__name {
  margin: 0;
  padding-right: 1rem;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 114.286% */
  display: inline;
}

.profile__edit-button {
  width: 1.5rem;
  height: 1.5rem;
  background: url(../images/icon/edit-button.svg) no-repeat center;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__about {
  margin: 0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profile__add-button {
  width: 9.375rem;
  height: 3.125rem;
  background: url(../images/icon/Add-Button.svg) no-repeat center;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 0;
  justify-content: end;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 50%;
}
